<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <admin_activity_tracker>
            <general>
                <enabled>1</enabled>
                <excluded_sections></excluded_sections>
                <data_retention>6</data_retention>
                <cleanup_cron_time>0 2 * * *</cleanup_cron_time>
            </general>
        </admin_activity_tracker>
    </default>
</config>